{
    "importOrder": ["<THIRD_PARTY_MODULES>", "@/*", "^components/(.*)$", "^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "printWidth": 120,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "endOfLine": "auto"
}
