<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo.png" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#151936" />
    <meta name="description" content="Personal finance managment using your Budget-Buddy" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>Budget-Buddy</title>
    <% if (isProd) { %>
    <!-- Umami Analytics -->
    <script
      async
      src="https://analytics.tools.tklein.it/script.js"
      data-website-id="2876313f-9ed3-4497-9a47-65b4f42a4155"></script>
    <% } %>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
